<div class="container">
  <div class="page-header">
    <h1><%= APP_NAME %></h1>
    <h2>
      <small>Because everyone needs a few phasers.</small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy Phasers", buy_phaser_url %>
  </p>

</div>
